/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tło górskie */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

/* Parallax Effect */
header {
    position: relative;
    background-image: url('img/mountains.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Przyciemnienie tła */
    z-index: -1;
}

/* Treść w nagłówku */
.header-content h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.header-content p {
    font-size: 1.5rem;
    margin-top: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Sekcja informacyjna */
.info {
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.info p {
    font-size: 1.2rem;
    color: #555;
}

/* Stopka */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
